
.menu-page {
  padding: 8rem 15.6rem;

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
  }

  &__drinks-grid {
    display: flex;
    flex-wrap: wrap;
  }
}
